{% layout "layout.liquid" %}

{% block content %}
    <h1>Welcome to Adrian's Magic: The Gathering Deckbuilding App!</h1>
    <div>
        <a href="/user/signup">Sign Up</a>
        <a href="/user/login">Login</a>
    </div>
{% endblock %}