{% layout "layout.liquid" %}

{% block content %}
    <h1>Welcome to MTG Deckbuilder!</h1>
    <h3>
        You can use this app to build a deck of Magic: The Gathering cards that are legal in the Standard format.<br/>
        To get started building a deck, go ahead and sign in first if you haven't already. Then, click "Search Cards" in the nav bar.<br/>
        From there, you can search cards by setting multiple paramaters, and then add cards to your deck from the results page.
    </h3>

    <div>
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/login">Login</a>
    </div>
{% endblock %}