{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    results page
    {% for result in results %}
        <ul>
            <li>result</li>
            <!-- button to add to CardsToAdd schema -->
        </ul>
    {% endfor %}
    <!-- button to return to search page -->
</div>
{% endblock %}