{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <h2 class="display-6">Card Search</h2><br/>
    <p>
        Enter your search parameters in the form on the left and click "Search Cards."<br/>
        Once you've added all the cards you'd like to your deck, name your deck and click "Create Deck" in the form on the right.<br/>
    </p>
    <div class="card" style="display:inline-block">
        <div class="card-body">
            <form class="form-horizontal" action="/decks/cards/results?_method=PUT" method="POST">
                <div class="form-group">
                    <h4>Card Name:</h4>
                    <div class="col-sm-10">
                        <input 
                            class="form-control"
                            type="search" 
                            name="name" 
                            placeholder="Enter card name to search" 
                            id="name-search"
                        ><br/>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Mana Value:</h4>
                    <div class="col-sm-10">
                        <input 
                            class="form-control"
                            type="number"
                            name="mv"
                            placeholder="Choose mana value"
                            id="mv-search"
                        ><br/>
                    </div>
                </div>
                    <h4>Card Type:</h4>
                    <div class="checkbox">
                        Instant
                        <input
                            type="checkbox"
                            name="instant"
                            id="instant-box"
                        ><br/>
                    </div>
                    <div class="checkbox">
                        Sorcery
                        <input
                            type="checkbox"
                            name="sorcery"
                            id="instant-box"
                        ><br/>
                    </div>
                    <div class="checkbox">
                        Creature
                        <input
                            type="checkbox"
                            name="creature"
                            id="creature-box"
                        ><br/>
                    </div>
                    <div class="checkbox">
                        Artifact
                        <input
                            type="checkbox"
                            name="artifact"
                            id="artifact-box"
                        ><br/>
                    </div>
                    <div class="checkbox">
                        Enchantment
                        <input
                            type="checkbox"
                            name="enchantment"
                            id="enchantment-box"
                        ><br/>
                    </div>
                    <div class="checkbox">
                        Planeswalker
                        <input
                            type="checkbox"
                            name="planeswalker"
                            id="pw-box"
                        ><br/>
                    </div>
                    <div class="checkbox">
                        Land
                        <input
                            type="checkbox"
                            name="land"
                            id="land-box"
                        ><br/>
                        <br/>
                    </div>
                    <h4>Mana Color:</h4>
                    <div class="checkbox">
                        White
                        <input
                            type="checkbox"
                            name="white"
                            id="white-box"
                        >
                    </div>
                    <div class="checkbox">
                        Blue
                        <input
                            type="checkbox"
                            name="blue"
                            id="blue-box"
                        >
                    </div>
                    <div class="checkbox">
                        Black
                        <input
                            type="checkbox"
                            name="black"
                            id="black-box"
                        >
                    </div>
                    <div class="checkbox">
                        Red
                        <input
                            type="checkbox"
                            name="red"
                            id="black-box"
                        >
                    </div>
                     <div class="checkbox">
                        Green
                        <input
                            type="checkbox"
                            name="green"
                            id="green-box"
                        >
                    </div><br/>
                <input type="submit" value="Search Cards" class="btn btn-success">
            </form><br/>
        </div>
    </div>
    <div class="card" style="display:inline-block">
        <div class="card-body">
            <div>
                <h4>Your deck so far: </h4>
                {% for card in tempDeck %}
                    {{ card.name }}<br/>
                {% endfor %}
            </div><br/>
            <form class="form-horizontal" action="/decks" method="POST">
                <h4>Deck Name:</h4>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="deckName" placeholder="Enter deck name"><br/>
                </div>
                <input type="submit" value="Create Deck" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
{% endblock %}