{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <!-- should post to deck view / FIX EXAMPLE REF -->
    <!-- need to add search form for cards somewhere on the page -->
    <form action="/examples" method="POST">
        <fieldset>
            <legend>Create New Deck</legend>
            <label class="form-label">Name: </label>
            <!-- references to deck.name -->
            <input 
                type="text" 
                name="name" 
                placeholder="{{ deck.name }}"
                value="{{ deck.name }}"
                class="form-control"
            >
            <!-- consider whether to display just a list of card names or card name + image -->
            <!-- users should be able to remove and add individual cards here somehow -->
            <!-- card references here / FIX ANY EXAMPLE REFS-->
            <label class="form-label">Cards:</label>
            <input 
                type="text" 
                name="body" 
                placeholder="{{ example.body }}" 
                value="{{ example.body }}" 
                class="form-control"
            >
            <!-- top card checkbox that tells computer if card is a top card or not -->
            <label class="form-label">Top Card?</label>
            <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input"
                {% if example.ready %}
                    checked
                {% endif %}
            >
        </fieldset>
        <input type="submit" value="Update Deck" class="btn btn-success">
    </form>
</div>
{% endblock %}