{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <!-- should post to deck view / FIX EXAMPLE REF -->
    <form action="/decks" method="POST">
        <fieldset>
            <legend>Edit Deck</legend>
            <label class="form-label">Name: </label>
            <!-- references to deck.name -->
            <input 
                type="text" 
                name="name" 
                placeholder="{{ deck.name }}"
                value="{{ deck.name }}"
                class="form-control"
            >
            <!-- users should be able to remove and add individual cards here somehow -->
            <!-- card references here / FIX ANY EXAMPLE REFS-->
            <label class="form-label">Cards:</label>
            <!-- top card checkbox that tells computer if card is a top card or not
            <label class="form-label">Top Card?</label>
            <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input"
                {% if example.ready %}
                    checked
                {% endif %}
            > -->
    <div>
        <ul>
        {% for card in cards %}
            <li>
            {{card.cardName}}
             <form action="/decks?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
            </li>
            <!-- <li>{{card.imageUrl}}</li> -->
            <!-- button to add card -->
            <!-- JS logic should prevent more than 4 of 1 card from being added -->
            <!-- button to remove card -->
        {% endfor %}
        </ul>
            </div>
        </fieldset>
        <input type="submit" value="Update Deck" class="btn btn-success">
    </form>
</div>
{% endblock %}