{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Decks</h2>
    <div class="row">
    <ul>
        {% for deck in decks %}
        <li>
            <a href="/decks/{{ deck.id }}" class="btn btn-info">
                {{ deck.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}