{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/decks" method="POST">
        <fieldset>
            
            <label class="form-label">Name:</label>
            <input 
                type="text" 
                name="name" 
                placeholder="enter deck name"
                class="form-control"
            >
        </fieldset>
        <div>
            {% for card in tempDeck %}
            {{ card.name }}
            
            {% endfor %}
        </div>
        <input type="submit" value="Create New Deck" class="btn btn-success">
    </form>
    
</div>
{% endblock %}