{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/decks" method="POST">
        <fieldset>
            <legend>Create New Deck</legend>
            <label class="form-label">Name:</label>
            <input 
                type="text" 
                name="name" 
                placeholder="enter deck name"
                class="form-control"
            >
        <!-- insert array of cards being made by the card search function to here -->
        </fieldset>
        <input type="submit" value="Create New Deck" class="btn btn-success">
    </form>
    <form>
        <label class="form-label">Cards:</label>
            <div id="card-search-div" class="container-sm">
                <label class="form-label">Card name:</label>
                <input 
                    type="search" 
                    name="card-name" 
                    placeholder="search card name" 
                    id="name-search"
                ><br/>
                <label class="form-label">Mana value:</label>
                <input 
                    type="number"
                    name="mana-value"
                    placeholder="choose mana value"
                    id="mv-search"
                ><br/>
                <div id="card-type-div" class="container-sm">
                    <label class="form-label">Card type:</label><br/>
                    Instant
                    <input
                        type="checkbox"
                        name="instant-box"
                        id="instant-box"
                    ><br/>
                    Sorcery
                    <input
                        type="checkbox"
                        name="sorcery-box"
                        id="instant-box"
                    ><br/>
                    Creature
                    <input
                        type="checkbox"
                        name="creature-box"
                        id="creature-box"
                    ><br/>
                    Artifact
                    <input
                        type="checkbox"
                        name="artifact-box"
                        id="artifact-box"
                    ><br/>
                    Enchantment
                    <input
                        type="checkbox"
                        name="enchantment-box"
                        id="artifact-box"
                    ><br/>
                    Planeswalker
                    <input
                        type="checkbox"
                        name="pw-box"
                        id="pw-box"
                    ><br/>
                    Land
                    <input
                        type="checkbox"
                        name="land-box"
                        id="land-box"
                    ><br/>
                    <br/>
                </div>
                <div id="mana-color-div" class="container-sm">
                    <label class="form-label">Mana Color:</label><br/>
                    White
                    <input
                        type="checkbox"
                        name="white-box"
                        id="white-box"
                    >
                    Blue
                    <input
                        type="checkbox"
                        name="blue-box"
                        id="blue-box"
                    >
                    Black
                    <input
                        type="checkbox"
                        name="black-box"
                        id="black-box"
                    >
                    Red
                    <input
                        type="checkbox"
                        name="red-box"
                        id="black-box"
                    >
                    Green
                    <input
                        type="checkbox"
                        name="green-box"
                        id="green-box"
                    >
                </div>
            </div>
        <input type="submit" value="Search Cards" class="btn btn-success">
    </form>
</div>
{% endblock %}